
/****************** bg-color ***************/

$primaryBgColor:purple;
$secondaryBgColor:red;
$profileBgPrimaryColor:green;


/****************** color ***************/

$primaryColor:purple;
$secondaryColor:white;
$profilePrimaryColor:green;

/****************** Font-Family ***************/

$primaryFont:sans-serif;
$secondaryFont:Gill Sans;
$profilePrimaryFont:Trebuchet MS;
